# Operating System Files
.DS_Store           
Thumbs.db           
desktop.ini         
*.swp               

# IDE/Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment Files
.env
.env.local
.secret
*.key

# Dependency Directories
node_modules/
jspm_packages/
bower_components/
